# ignore private settings
workspace/settings.py

BM-K
da_finetune_epoch_2
chroma_storage
.ipynb_checkpoints
__pycache__

## test file
Test.ipynb
dbtest.ipynb

### pycache
workspace/BM-K
workspace/__pycache__
workspace/markdownDB
workspace/chroma_storage

#### util
embedding.py